# Datasets (Keep ignored)
dataset/
data/Training_Set/
data/Validation_Set/
data/Test_Set/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE settings
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db
